section.error-404
  .error-404__container
    h1.error-404__title Oops
    h4.error-404__description Well, something went wrong there. This page can&rsquo;t be found.
    a.btn.btn--filled(href="<?= esc_url(home_url('/')); ?>") Go back home